<html>
<head>
  <title><%= title %></title>
</head>
<body>
  <h1><%= title %></h1>
  <p>Pujar imatge per al <%= title %></p>
  <form method='post' action='upload' enctype="multipart/form-data">
    <input type='file' name='fitxer'>
    <input type='submit'>
  </form>
</body>
</html>