body {
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  /* overflow: hidden; */
  text-align: center;
}

.card-container {
  display: flex;
  background-color: transparent;
  width: 500px;
  height: 500px;
}

.card {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.8s;
  transform-style: preserve-3d;
  perspective: 1000px;
}

.card:hover {
  box-shadow: 0px 0px 30px 1px rgba(0, 255, 117, 0.30);
}

.card-active {
  transform: rotateY(180deg);
}

.card-face {
  box-shadow: 0 8px 14px 0 rgba(0, 0, 0, 0.2);
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  border: 2px solid maroon ;
  border-radius: 1rem;
}

.card-face h2{
  position: absolute;
  top: 30px;
  margin-bottom: 20px;
  text-align: center;
}

.card-front {
  background: linear-gradient(120deg, bisque 60%, rgb(255, 231, 222) 88%,
      rgb(255, 211, 195) 40%, rgba(255, 127, 80, 0.603) 48%);
  color: coral;
}

.card-back {
  background: linear-gradient(120deg, rgb(255, 174, 145) 30%, coral 88%,
      bisque 40%, rgb(255, 185, 160) 78%);
  color: bisque;
  transform: rotateY(180deg);
}

/**** INPUTS ******/
.form-control {
  position: relative;
  margin: 20px 0 20px;
  width: 190px;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px maroon solid;
  display: block;
  width: 100%;
  padding: 15px 0;
  font-size: 18px;
  color: maroon;
}

.form-control input:focus,
.card-front .form-control input:valid {
  outline: 0;
  border-bottom-color: coral;
}
.card-back .form-control input:valid {
  outline: 0;
  border-bottom-color: bisque;
}



.form-control label {
  position: absolute;
  top: 15px;
  left: 0;
  pointer-events: none;
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  color: maroon;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus+label span,

div.card-front .form-control input:valid+label span {
  color: coral;
  transform: translateY(-30px);
}

div.card-back .form-control input:valid+label span {
  color: bisque;
  transform: translateY(-30px);
}

/****** BUTTONS *******/

.button {
  position: relative;
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  text-align: center;
  letter-spacing: 1px;
  text-decoration: none;
  color: maroon;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid maroon;
  border-radius: 10px;
  box-shadow: inset 0 0 0 0 maroon;
}

.button:hover {
  color: white;
  box-shadow: inset 0 -100px 0 0 maroon;
}

.button:active {
  transform: scale(0.9);
}

/****** MEUS ***********/

p.signup-error {
  color:red;
  font-size: 14px;
  margin-top: -10px;
}