body{
    max-width:750px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

::-webkit-scrollbar{
    width: 8px; /* amplada de la barra */
    background-color: #F5F5F5; /* color de fons */
    border-radius: 5px; /* radi dels cantons */
    margin-left: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #000000; /* color de la barra */
    border-radius: 5px; /* radi dels cantons */
  }

div.chat-body{
    width: 100%;
    display: flex;
    flex-direction: row;
}
    .chat-body div{
        display: flex;
        flex-direction: column;
    }

/* ROOMS */
div#rooms{
    width:20%;
}

div.room{
    border-style: solid;
    border-color: black;
    border-width: 1px;
}

div.room.selected{
    background-color: aqua;
}

/* MESSAGES */
div#messages{
   width: 85%;
   max-height: 90vh;
}

div#chat-messages{
    max-height: 75vh;
    overflow: scroll;
    overflow-x: hidden;
}

div.message{
    float: left;
    width: 75%;
    margin-right: 25%;
    text-align: left;
}
div.message_own{
    float: right;
    width: 75%;
    text-align: right;
    margin-left: 25%;
}

div.chatAlert{
    width: 100%;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

    .chatAlert p{
        font-size: 14px;
        text-align: center;
    }

div.message_delete{
    text-decoration: line-through;
}

/* Classes i subclasses
https://stackoverflow.com/questions/558721/css-classes-subclasses */