body{
    max-width:850px;
    margin-left: auto;
    margin-right: auto;
    overflow-y: auto;
    color: maroon;
    font-family: 'Roboto', sans-serif;
}

@font-face {
    font-family: alienFont;
    src: url(../alm.ttf);
    /*https://www.dafont.com/es/font-comment.php?file=alien_mushrooms&back=theme*/
}

div.header {
    height: 60px;
    margin: 5px;
    text-align: right;
    vertical-align: bottom;
    border-bottom: solid maroon 5px;
    margin-bottom: 0%;
    border-radius: 10px;
    margin-right: -10px;
    padding-bottom: 0%;
    display: flex;
    flex-direction: row;
}

    div.header div.xat-logo{
        width: 60%;
        text-align: left;
        font-family: alienFont;
        text-align: center;
        margin: auto;
        font-size: 38px;
    }
    div.header div#header-logout, div.header div#header-user{
        margin-left: auto;
        margin-top: auto;
        margin-bottom: auto;
        text-align: right;
    }

::-webkit-scrollbar{
    width: 8px; /* amplada de la barra */
    background-color: rgb(254, 240, 223); /* color de fons */
    border-radius: 5px; /* radi dels cantons */
    margin-left: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: maroon; /* color de la barra */
    border-radius: 5px; /* radi dels cantons */
}

/* SCROLLBAR PER A FIREFOX*/
div{
    scrollbar-color: maroon rgb(254, 240, 223);
    scrollbar-width: thin;
}

div.chat-body{
    width: 100%;
    display: flex;
    flex-direction: row;
    height: calc(100vh - 160px);
    margin: 5px;
}
    .chat-body div{
        display: flex;
        flex-direction: column;
    }

/* ROOMS */
div.rooms{
    width:22%;
    margin-right: 10px;
    border: none;
    height: 100%;
    overflow-y: auto;
}

div.room{
    position: relative;
    min-height: fit-content;
    border-style: solid;
    border-color: maroon;
    border-width: 1px;
    border-radius: 8px;
    margin: 5px;
    margin-right: 10px;
    background-color: bisque;
    color: maroon;
    padding: 8px;
    justify-content: center;
    text-align: center;
    text-transform: uppercase;
    font-weight: bold;
    overflow: visible;
    cursor: pointer;
    flex-shrink: 0;
}

div.room.selected{
    background-color: coral;
}

div.room div.room-unread{
    position: absolute;
    height: 13px;
    width: 13px;
    top: -8px;
    right: 10px;
    padding: 1px 1px;
    font-size: x-small;
    text-align: center;
    vertical-align: middle;
    margin: 0%;
    border: 1px solid rgba(0, 30, 255, 1);
    border-radius: 50%;
    z-index: 10;
    background-color: rgba(0, 18, 151, 0.8);
    color: white;
    animation: newMessageAni 0.5s linear;
}
    div.room-unread.toggleAni{
        animation: newMessageAni 0.5s linear;
    }

@keyframes newMessageAni{
    0% { scale: 1; }
  20% { scale: 1.1225 }
  40% { scale: 1.25  }
  60% { scale: 1.1225  }
  80% { scale: 1.30   }
  100% { scale: 1 }
}

.room.create{
    cursor: default;
}

.room:hover {
    box-shadow: 0px 0px 8px 1px rgba(0, 30, 255, 0.426);
}



/* MESSAGES */
div#messages{
   /* min-width: 80%; */
   width: 85%;
   height: 100%;
   margin-top: auto;
   margin-bottom: 0px;
}

div#chat-messages{
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}
    /* https://stackoverflow.com/questions/36130760/use-justify-content-flex-end-and-to-have-vertical-scrollbar */
    div#chat-messages > :first-child {
        margin-top: auto !important;
        /* use !important to prevent breakage from child margin settings */
    }

/* @keyframes vibrar {
    0% { transform: translate(0, 0); }
    10% { transform: translate(-5px, 0); }
    20% { transform: translate(5px, 0); }
    30% { transform: translate(-5px, 0); }
    40% { transform: translate(5px, 0); }
    50% { transform: translate(-5px, 0); }
    60% { transform: translate(5px, 0); }
    70% { transform: translate(-5px, 0); }
    80% { transform: translate(5px, 0); }
    90% { transform: translate(-5px, 0); }
    100% { transform: translate(0, 0); }
} */

@keyframes newMessageShadow{
    0% { box-shadow: 0px 0px 0px coral; }
  20% {  box-shadow: 0px 0px 4px coral; }
  40% {  box-shadow: 0px 0px 8px coral; }
  50% {  box-shadow: 0px 0px 10px coral;}
  60% {  box-shadow: 0px 0px 8px coral; }
  80% {  box-shadow: 0px 0px 4px coral; }
  100% { box-shadow: 0px 0px 0px coral; }
}

div.message-box{
    float: left;
    width: 75%;
    margin-right: 25%;
    margin-left: 5px;
    margin-bottom: 5px;
    text-align: left;
    color: maroon;
}

div.message-box.own{
    float: right;
    /*width: 75%;*/
    text-align: right;
    margin-left: 24%;
}

/* div.message-box.nou{
    animation: vibrar 0.3s;
} */

    div.message-box p.message-sender{
        margin-right: 8px;
        margin-bottom: 1px;
        margin-left: 2px;
        margin-top: 8px;
        font-size: 20px;
    }

div.message{
    border-style: solid;
    border-color: maroon;
    border-width: 1px;
    border-radius: 15px;
    background-color: bisque;
    margin-top: 2px;
    padding: 5px;
}
    div.message-box.nou div.message{
        animation: newMessageShadow 0.7s linear;
    }
    div.message p.message-text{
        margin-bottom: 10px;
        margin-top: 7px;
        font-size: 18px;
    }

    div.message p.message-hora{
        font-size: small;
        font-style: italic;
        line-height: 8px;
        margin-top: 0px;
        margin-bottom: 4px;
    }

div.chatAlert{
    width: 100%;
    justify-content: center;
    align-items: center;
    font-style: italic;
}

    .chatAlert p{
        font-size: 14px;
        text-align: center;
    }

div.message_delete{
    text-decoration: line-through;
}

.message:hover {
    box-shadow: 0px 0px 1px 1px coral;
}

#chat-input,#chat-button{
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    bottom: 0%;
}

#chat-input{
    width: 97%;
    border-radius: 5px;
    border-color: maroon;
    color: maroon;
    padding: 3px;
    padding-left: 10px;
    padding-top: 10px;
    font-size: 20px;
    height: auto;
    min-height: 30px;
    max-height: 200px;
}


div.footer {
    height: 50px;
    font-size: smaller;
}

div#connected-Users{
    display: flex;
    flex-direction: row;
}

div#connected-Users div.connected-user{
    margin: 4px;
    padding: 4px 8px;
    border: 1px solid maroon;
    border-radius: 10px;
    width: fit-content;
    background-color: bisque;
    font-weight: bold;
}


.button {
    position: relative;
    display: inline-block;
    margin: 2px 2px;
    padding: 5px 5px;
    text-align: center;
    letter-spacing: 1px;
    text-decoration: none;
    color: maroon;
    background: transparent;
    cursor: pointer;
    transition: ease-out 0.5s;
    border: 2px solid maroon;
    border-radius: 10px;
    box-shadow: inset 0 0 0 0 maroon;
}
  
  .button:hover {
    color: white;
    box-shadow: inset 0 -100px 0 0 maroon;
  }
  
  .button:active {
    transform: scale(0.9);
  }